.input {
}

.bth {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.bth:hover {
  opacity: 0.8;
}

.bth:active {
  scale: 1.05;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
